body{
    text-align: center;
    background-color: rgb(204, 170, 238);
}

#post{
    text-align: center;
    margin: 0 auto;
}

input, textarea{
    width: 100%;
}

input{
    height: 30px;
}

button{
    width: 50%;
    height: 40px;
}

label{
    font-size: 30px;
    margin-right: 20px;
}

legend{
    font-size: 40px ;
}

fieldset{
    margin: 0 auto;
    width: 40%;
}

h1{
    font-size: 70px;
}

.tb{
    margin: 0 auto;
}

.d{
    width: 50%;
}

.t{
    width: 100%;
}



.user,.title{
    display: inline;
    margin: 20px;
    font-size: 30px;    
}

.desc{
    font-size: 20px;
}

#grid{
    margin: 0 auto;
    text-align: center;
}

.review{
    width: 45%;
    margin: 20px;
    margin-left: calc(27.5%);
    background-color: rgb(244, 121, 255);
}

#grid button{
    background-color: rgb(248, 171, 255);
    border: none;
    width: 60px;
    margin: 5px;
    border-radius: 10px;
}